<div class="row">
    <div class="col-md-9">
        <h1>{{ semester }}</h1>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active_site == 'problems' %} active {% endif %}"
            href="{% url 'competition:series-problems-detail' pk=series.pk %}">Zadania</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_site == 'results' %} active {% endif %}"
            href="{% url 'competition:series-results' pk=series.pk %}">Výsledky</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_site == 'publications' %} active {% endif %}" href="{% url 'competition:semester-publications' pk=semester.pk %}">Časopisy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_site == 'events' %} active {% endif %}" href="#">#Akcie</a>
    </li>
</ul>

{% if active_site == 'problems'%}
{% include "competition/semester_header/series_selector.html" with current_url='competition:series-problems-detail' %}
{% elif active_site == 'results' %}
{% include "competition/semester_header/series_selector.html" with current_url='competition:series-results' %}
{% endif %}

</a>