<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if series.order == 1 %} active {% endif %}" 
        href="{% url current_url pk=semester.series_set.first.pk %}">1. séria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if series.order == 2 %} active {% endif %}" 
        href="{% url current_url pk=semester.series_set.last.pk %}">2. séria</a>
    </li>
    {% if active == 'results' %}
        <li class="nav-item">
            <a class="nav-link" 
            href="#">finálne poradie</a>
        </li>
    {% endif %}
</ul>
