__pycache__

# Django veci
db.sqlite3
db.sqlite3-journal
/emails

*/migrations/*
!*/migrations/__init__.py

*/fixtures/sources/*
!*/fixtures/sources/*.py
!*/fixtures/sources/requirements.txt

# Environmenty
env
.env
vevericka
django-env

# Bordel od IDE
.vscode
