__pycache__

# Django veci
db.sqlite3
db.sqlite3-journal
/emails
/media

**/migrations/**
!**/migrations/__init__.py

fixtures/sources
!fixtures/sources/*.py
!fixtures/sources/requirements.txt

# Environmenty
env
.env
strom
vevericka
django-env

# Bordel od IDE
.vscode

# React
node_modules

# Sass
*.css.map
*.sass.map
*.scss.map
*.ts
