[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "~=2.2"
django = "~=3.1"
django-admin-list-filter-dropdown = "~=1.0"
django-allauth = "~=0.43"
django-filter = "~=2.4"
djangorestframework = "~=3.12"
drf-writable-nested = "~=0.6"
pillow = "~=8.4"
python-magic = "~=0.4"

[dev-packages]
autopep8 = "*"
django-nose = "*"
django-rest-swagger = "*"
django-typomatic = "*"
pinocchio = "*"
pylint = "*"
pylint-django = "*"
unidecode = "*"
