[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "~=4.0.0"
dj-rest-auth = "~=5.0.1"
django = "~=3.2.23"
django-allauth = "~=0.58.2"
django-filter = "~=23.5"
djangorestframework = "~=3.14.0"
drf-writable-nested = "~=0.7.0"
pillow = "~=10.3.0"
python-magic = "~=0.4.27"

[dev-packages]
autopep8 = "*"
django-rest-swagger = "*"
django-typomatic = "*"
pylint = "*"
pylint-django = "*"
unidecode = "*"
