asgiref==3.2.10
Django==3.1.14
django-allauth==0.43.0
djangorestframework==3.12.1
django_rest_swagger==2.2.0
django-filter==2.4.0
django-typomatic==1.5.0
dj-rest-auth==2.2.4
pdf2image==1.14.0
Pillow==8.4.0
python-magic==0.4.18
pytz==2020.1
sqlparse==0.3.1
Unidecode==1.3.3
drf-writable-nested==0.6.3
