asgiref==3.11.1
astroid==4.0.4
autopep8==2.3.2
certifi==2026.2.25
charset-normalizer==3.4.7
dill==0.4.1
dj-rest-auth==7.2.0
Django==6.0.4
django-allauth==65.16.1
django-filter==25.2
django-sendfile2==0.7.2
django-typomatic==2.5.2
djangorestframework==3.17.1
drf-writable-nested==0.7.2
gunicorn==23.0.0
idna==3.11
isort==8.0.1
legacy-cgi==2.6.4
mccabe==0.7.0
packaging==26.1
pillow==12.2.0
platformdirs==4.9.6
psycopg==3.1.20
pycodestyle==2.14.0
pylint==4.0.5
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
python-magic==0.4.27
pytz==2026.1.post1
requests==2.33.1
setuptools==78.1.1
sqlparse==0.5.5
tomlkit==0.14.0
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.6.3
