asgiref==3.2.10
astroid==2.11.3
autopep8==1.5.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.2
defusedxml==0.7.1
dill==0.3.4
dj-rest-auth==2.2.4
Django==3.1.14
django-admin-list-filter-dropdown==1.0.3
django-allauth==0.43.0
django-filter==2.4.0
django-nose==1.4.7
django-rest-swagger==2.2.0
django-typomatic==1.5.0
djangorestframework==3.12.1
drf-writable-nested==0.6.3
idna==3.3
isort==5.10.1
itypes==1.2.0
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
nose==1.3.7
oauthlib==3.2.0
openapi-codec==1.3.2
pdf2image==1.14.0
Pillow==8.4.0
pinocchio==0.4.2
platformdirs==2.5.2
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.3.0
pylint==2.13.7
pylint-django==2.5.3
pylint-plugin-utils==0.7
python-magic==0.4.18
python3-openid==3.2.0
pytz==2020.1
requests==2.27.1
requests-oauthlib==1.3.1
simplejson==3.17.6
sqlparse==0.3.1
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
Unidecode==1.3.3
uritemplate==4.1.1
urllib3==1.26.9
wrapt==1.12.1
