input.error {
    border: 1px solid red
}

label.error {
    padding-left: 16px;
    margin-left: .3em;
    font-size: small;
    font-weight: bolder;
    font-size: 80%;
    color: #dc3545;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 300px;
}