<div class="card">
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="/">Domov</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Seminár
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="#">Úlohy</a>
        <a class="list-group-item list-group-item-action" href="#">Archív</a>
        <a class="list-group-item list-group-item-action" href="#">#Výsledky</a>
        <a class="list-group-item list-group-item-action" href="#">#Časopisy</a>
        <a class="list-group-item list-group-item-action" href="#">#Pravidlá</a>
        <a class="list-group-item list-group-item-action" href="#">#Fotogaléria</a>
        <a class="list-group-item list-group-item-action" href="#">#Jednodňová súťaž daného semináru</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Akcie
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="#">#TMM</a>
        <a class="list-group-item list-group-item-action" href="#">#Kôš</a>
        <a class="list-group-item list-group-item-action" href="#">#Výlety</a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        O nás
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="#">#Kontakt</a>
    </div>
</div>