
{% extends "base/emails/email_base.html" %}
{% load registration_extras %}
{% block title %}Verifikácia e-mailu{% endblock %}
{% block header %}Verifikácia e-mailu{% endblock %}

{% block content %}
    <p>Ahoj, </p>
      <p>
        predtým, než budeš môcť svoj účet na stránke strom.sk plne využívať, musíš si overiť e-mailovú adresu. 
      </p>
      <p>Ak registráciu nechceš dokončiť, tak tento e-mail môžeš ignorovať.</p>
 

      <p>Pre dokončenie registrácie klikni sem:</p>
      <a href="{{ request.scheme }}://{{ request|source_host }}/{{ request|seminar }}/verify-email/{{ key }}" class="btn">Overiť email</a>
      
    <p>Tvoji vedúci STROMu</p>

{% endblock %}

