
{% extends "base/emails/email_base.html" %}
{% load registration_extras %}
{% block title %}Reset hesla{% endblock %}
{% block header %}Reset hesla{% endblock %}

{% block content %}
    <p>Ahoj, </p>
      <p>
        tento e-mail ti prišiel, pretože nám prišla žiadosť o zresetovanie hesla k účtu priradenému k tvojmu e-mailu na stránke strom.sk. 
      </p>
      <p>
        Ak si nepraješ zmeniť heslo, tak tento e-mail môžeš ignorovať.
      </p>
 

      <p>Ak chceš zresetovať heslo, klikni na tento link:</p>
      <a href="{{password_reset_url}}" class="btn">Resetovať heslo</a>

    <p>Tvoji vedúci STROMu</p>

{% endblock %}


