{% extends "base.html" %}

{% block content %}

{% for year, listOfSemesters in context.items %}
<div class=" my-3">
    <div class="row p-2 bg-primary text-white">
        <h4>{{year}}. ročník</h4>
    </div>
    {% for semester in listOfSemesters %}
    <div class="row p-2 bg-secondary">
        <a class="col text-white" href="{% url 'competition:semester-detail' semester.pk %}">
            {{ semester.season }} semester
        </a>
        <a class="btn col-auto border bg-white" href="{# stranka sustredenia #}">
            #sústredenie
        </a>
        <a class="btn col-auto border bg-white" href="{# 1.casopis #}">
            #časopis
        </a>
    </div>


    {% for series in semester.series_set.all %}
    <div class="row p-2 bg-white border">
        <div class="col">
            {{series.order}}.séria
        </div>
        <a class="btn border col-auto" href="{% url 'competition:series-problems-detail' series.pk %}">
            zadania
        </a>
        <a class="btn border col-auto" href="{# vysledky #}">
            #výsledky
        </a>
        <a class="btn border col-auto" href="{# casopis so vzorakmi (?) #}">
            #časopis
        </a>
        
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}