<b>Pozvánka pre účastníkov</b>
<br>
<br>

\rocnik             {{'{'}}{{semester.year}}{{'}'}} <br>
\semester           {{'{'}}{{semester.season_short}}{{'}'}} <br>
\seminar            {{'{'}}{{semester.competition.name}}{{'}'}} <br>
<br>
{% for participant in participants %}
    {% if participant.is_participant %}
        \ucastnik{{'{'}}{{participant.first_name}} {{participant.last_name}}{{'}'}} <br>
    {% else%}
        \nahradnik{{'{'}}{{participant.first_name}} {{participant.last_name}}{{'}'}} <br>
    {% endif %}
    
{% endfor %}

<br>
<hr>
<b>Pozvánka pre školy</b>
<br>
<br>

{% for school, school_participants in schools.items %}
    \hlavicka <br>
    {{ '\stitok{}{}{Kabinet matematiky}{' }}{{ school.name }}{{ '}{' }}{{ school.street }}{{ '}{' }}{{ school.printable_zip_code }} \ {{ school.city }}{{ '}{}' }} <br>
    \nadtextikskole <br>
    {% for participant in school_participants %}
        {% if participant.is_participant %}
            \ucastnik{{ '{' }}{{ participant.first_name }} {{ participant.last_name }}{{ '}' }} <br>
        {% else %}
            \ucastnik{{ '{' }}{{ participant.first_name }} {{ participant.last_name }}, náhradník} <br>
        {% endif %}

    {% endfor %}
    \podtextikskole <br>
    \pata <br>
    \newpage <br>
    %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% <br>
{% endfor %}
