{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1>{{ semester }}</h1>
    </div>
    <div class="col-md-3">
        {% include "competition/semester_dropdown.html" with view_name='competition:semester-problems-detail' %}
    </div>
</div>

{% for series in semester.series_set.all %}
<div class="row">
    <div class="col-md-9">
        <h2>{{ series }}</h2>
    </div>
</div>

<p>Termín odovzdania série: {{ series.deadline }}</p>

{% if not series.is_past_deadline %}
Do termínu zostáva: {{ series.time_to_deadline }}
{% endif %}

{% include 'competition/problems.html' %}
{% endfor %}

{% endblock content %}

{% block javascript %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
        }
    });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock javascript %}