{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'user/profile_form.css' %}" />
{% endblock css %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Zmeniť heslo">
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'vendor/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'user/password_validate.js' %}"></script>
{% endblock javascript %}