#menu-top div {
  background-color: #212121;
}
#menu-top a {
  color: #fafafa;
  font-weight: 500;
}
#menu-top a:hover,
#menu-top a.active:hover {
  background-color: #636363;
}
#menu1 a.active {
  background-color: #a40;
}
