// Test classes that highlight box for testing purpose

.test {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.2);
}
.test-green {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.2);
}
.test-blue {
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.2);
}
