name: Deploy Production Environment

on: workflow_dispatch

jobs:
  deploy:
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      project_name: webstrom-prod
      backend_port: '8930'
      static_port: '8931'
      django_settings_module: 'webstrom.settings_prod'
      media_path: '/data/www/webstrom'
    secrets:
      ssh_private_key: ${{ secrets.WEBSTROM_DEPLOY_SSH_PRIVATE_KEY }}
      django_secret_key: ${{ secrets.DJANGO_SECRET_KEY }}
